@use "../../../../../colors.scss" as *;

:host {
    display: block;
    border-bottom: 1px solid $splitter-color;
    
    &:last-child {
        border-color: transparent;
    }

}

a {
    display: flex;
    text-decoration: none;

    padding: 10px;
    border-radius: 8px;
    transition-property: background-color;
    transition-duration: 200ms;

    &:hover {
        background-color: darken($background, 1);
    }

    img {
        width: 30%;
        height: fit-content;
        border-radius: 8px;
        margin-inline-end: 5px;
    }

    .metadata {
        padding: 10px 5px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .info > * {
        display: block;
        font-size: 14px;
    }

    .metadata h3 { font-size: 20px; }

    .genres {
        display: flex !important;
        flex-wrap: wrap;
        margin-top: 3px;
    }

    .genre {
        display: block;
        padding: 4px 8px;
        margin-inline-end: 5px;
        margin-bottom: 5px;
        
        font-size: 13px;

        border-radius: 15px;
        background-color: lighten($background, 5);
    }

    .relation {
        display: flex;
        justify-content: flex-end;

        span {
            padding: 3px 3px;
            width: min(120px, 100%);
            text-align: center;
            font-size: 14px;
            border-radius: 10px;
            background-color: lighten($accent, 5);
        }
    }
}
