@use "../../../colors.scss" as *;

:host {
    flex-direction: column;
    min-width: max(200px, 15%);
    background-color: darken($color: $background, $amount: 3);
    padding: 10px;
    overflow: auto;
    border-right: 1px solid $splitter-color;
    border-left: 1px solid $splitter-color;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin-top: 15px;

    li:not(.space) {
        transition-duration: 200ms;
        display: flex;
        justify-content: flex-start;
        padding: 5px;
        margin: 5px 0;
        text-align: right;
        font-size: 16px;
        border-radius: 10px;

        &:hover {
            background-color: lighten($color: $background, $amount: 3);
        }

        &.selected {
            background-color: lighten($color: $background, $amount: 3);
            background-color: $main;
            path, circle, rect {
                stroke: $main;
                fill: $main;
                stroke: $text;
                fill: $text;
            }

            a {
                color: $main;
                color: $text;
            }
        }
    }

    li.space {
        background-color: $splitter-color;
        height: 1px;
    }

    svg {
        width: 30px;
        padding: 4px;
        margin-inline-end: 3px;
        path, circle, rect {
            stroke: $text;
            fill: $text;
        }
    }
}
