@use "../../../colors.scss" as *;

p {
    font-size: 18px;
}

form {
    display: flex;
    align-items: center;
    width: 40%;
    margin-inline-end: 15%;

    > * {
        margin: 0 5px;
    }

    input {
        width: 90%;
    }
}