@use "../colors.scss" as *;

* {
    display: flex;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

app-dialog.visible {
    ~ :not(app-dialog) {
        filter: blur(0.6rem);
    }
}
