<div class="controls">
    <div class="mode">
        <span 
            [class.active]="activeMode == 'vim'"
            [style.background-color]="activeMode == 'vim'? darken(colors.lastColor || [0, 0, 0], 20): ''"
            [style.border-color]="activeMode == 'vim'? darken(colors.lastColor || [0, 0, 0], 0): ''"
            (click)="activeMode = 'vim'"
        >{{ "Vim" | translator }}</span>
        <span 
            [class.active]="activeMode == 'normal'"
            [style.background-color]="activeMode == 'normal'? darken(colors.lastColor || [0, 0, 0], 20): ''"
            [style.border-color]="activeMode == 'normal'? darken(colors.lastColor || [0, 0, 0], 0): ''"
            (click)="activeMode = 'normal'"
        >{{ "Normal" | translator }}</span>
    </div>
    <div class="buttons">
        <button class="action-button delete" (click)="close(false)">{{ (state == 0? "Discard" : "Delete") | translator }}</button>
        <button class="action-button" appColorable (click)="close(true)">{{ (state == 0? "Add Note" : "Save") | translator }}</button>
    </div>
</div>

<input 
    type="text" 
    class="text-input" 
    [placeholder]="'Username' | translator" 
    [disabled]="state == 1"
    [(ngModel)]="output.user"
/>

<section class="editor">
    <app-vim *ngIf="activeMode == 'vim'"></app-vim>
    <textarea [placeholder]="('Enter a Note' | translator) + '...'" *ngIf="activeMode == 'normal'" class="text-input" [(ngModel)]="output.note" #areainput></textarea>
</section>
