:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    $slots: 6;

    width: (100% / $slots) - 1%;
    aspect-ratio: 315/450;
    margin: 0.5%;
    
    border-radius: 10px;
    overflow: hidden;

    position: relative;

    &:hover {

        .image {
            filter:blur(0.3rem);
        }
        
        .data {
            transform: translateY(0);
        }
    }
}

.image {
    background-color: rgba(0, 0, 0, 0.363);
    position: absolute;
    width: 100%;
    height: 100%; 
    background-size: cover;
    transition-duration: 400ms;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    transform: translateY(100%);
    transition-duration: 400ms;

    height: 100%;

    > * { width: 100%; }

    .name {
        font-size: 18px;
        height: 28px;
        overflow: hidden;
    }

    .metadata {
        background-color: #000000dd;
        padding: 8px;
    }

    .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        p {
            font-size: 20px;
        }

        svg {
            width: 35%;
        }

        path {
            $star: rgb(255, 187, 0);
            fill: $star;
            stroke: $star;
        }
    }
}

.episode {
    font-size: 13px;
}
