@use "./colors.scss" as *;

@font-face {
    font-family: primary;
    src: url("/fonts/BalooBhaijaan.ttf");
}

@font-face {
    font-family: secondary;
    src: url("/fonts/Cairo.ttf");
}

* {
    font-family: primary;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $text;
}

body {
    background-color: $background;
}