:host {
    display: flex;
    width: 100%;

    user-select: none;

    flex-direction: column;

    * { font-family: "Jetbrains Mono"; transition-duration: 0ms; }
}

.line-number {
    padding: 0 8px;
    display: block;
    width: 35px;
    text-align: start;

    &.current {
        text-align: end;
    }
}

.line {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;

    border: {
        top: 1px solid transparent;
        bottom: 1px solid transparent;
    };
}

.letters {
    display: flex;
    flex-wrap: wrap;
}

.line > div > div {
    white-space: pre;
}
